# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
package-lock.jsoncl



# Docker
Dockerfile
docker-compose.yml

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results


hidden.txt